body 
{
    background-image: url(./images/Untitled\ design.png);
}
.container 
{
    background-color: rgb(154, 185, 252);
    border: 4px dotted blue;
    padding: 10px;
}
img.bird
{    
    width: 450px;
    height: 400px;  
    position: absolute;
    top:100px;
    left: 0px;
    z-index: 1;
}
p
{
   color:rgb(125, 123, 123);
   font-size: 24px;
   position: relative;
}
@media screen and (max-width: 480px) 
{
    body 
    {
        background-image: url(./images/Untitled\ design\ \(1\).png);
    }
    .container
    {
        background-color: rgb(178, 244, 222);
        border: 4px dashed green;
    }
    img.bird
    {
        max-width: 250px;
        max-height: 200px;
        top:500px;
        left:0px;
        z-index: 1;
    }
    
    p
    {
        color:rgb(27, 11, 11);
        font-size: 20px;
        position: relative;
     }
}