h1
{
    background-color: gray;
    color: red;
    text-align: center;
    text-shadow: 5px 3px green;
    border: 3px solid blue;
}
p
{
    background-image:url(./images/computer-memory.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: blue;
    font-size: 25px;
    text-align: justify;
    letter-spacing: 3px;
    word-spacing: 6px;
    border-top: 4px dashed red;
    border-right: 5px double green;
    border-bottom: 5px dotted cyan;
    border-left: 3px solid orange;
}