.container
{
    margin:20px;
    display: block;
}
.header
{
    border-top:10px solid rgba(0,83,135,255);
    border-bottom: 10px solid rgba(28,181,224,255);
    display: flex;
    margin: 10px;
    height: 180px;
}
.lhead

{
    width: 800px;
    height:150px ;
    padding: 30px 10px;
    
}
img.logo
{
    height:100px;
    width:700px;
}
.rhead
{
    margin-left: 20px;
    margin-top: 20px;
    display:flex;
    
    background-color: rgba(28,181,224,255);
    width:650px;
    border-radius: 5rem 0rem 0rem 0rem;;
}
.rhead1
{
    display: flex;
    padding-left: 50px;
    
}
.rhead2
{
    width:180px;
    padding-left: 50px;
}
p.pay
{
    color: rgba(174,40,93,255);
    font-weight: bold;
    padding:33px  10px  0px 10px ;
}
img.axisbank
{
    height:70px;
}
p.pfees
{
    margin:0px;
    padding:0px;
    color: white;
    font-size: 16px;
    line-height: 20px;
}
.rhead3
{
    width:350px;
    text-align: end;
    display: block;
    background-color: rgba(28,181,224,255);
    color: white;
}
.loginbtn
{
    background-color: rgba(64,80,130,255);
    color: white;
    padding:10px;
    width: 150px;
    border-radius: 1.5rem;
}
.navbar
{
    background-color: rgba(64,80,130,255);
    height: 50px;
    color: white;
    margin: auto;
    width: 100%;
}
.navul
{
    display: flex;
}
.navli
{
    padding: 10px;
    list-style-type: none;
}
.nava
{ 
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.content
{
    margin-top: 10px;
    width: 100%;
    height: 700px;
    
}
.textscroll
{
    background-color: gainsboro;
    height: 50px;
    border: 2px solid darkgrey;
    color: black;
}
.marq
{
    font-size: 16px;
    font-weight: bold;
}
.imgbanner
{
    margin: 10px;
    background-color: rgba(64,80,130,255);
    height: 400px;
    display: flex;
   
}
.schoolimg
{
    margin: 50px 100px 50px 100px;
    width: 700px;
    height: 300px;
    z-index: 1;
    position: absolute;
    left:600px;

}

.newstext
{
    background-color: rgba(0,83,135,255);
    height:400px;
    width: 350px;
    margin-left: 150px;
    z-index: 1;
    position: absolute;
    top: 350px;
    color: white;
    padding: 20px;
    
    
}
.pnews
{
    float: left;
    font-size: 22px;
    
}

.viewallbtn
{
    margin: 0px;
   float: right;
   width: 100px;
   height: 50px;
   padding:10px;
   border-radius: 0.8rem;
   font-size: 18px;
}
.padmsn
{
    padding-top: 100px;
    font-size: 22px;
}
.footer
{
    background-color: rgba(124,130,131,255);
    height: 50px;
    color: white;
    font-size:20px;
    text-align: center;
    padding-top: 2px;
}
.abvfootr
{
    margin-top: 20px;
    height:300px;
    width: 100%;
    background-color: rgba(237,250,251,255);
    border-top: 10px solid rgba(196,146,0,255);
}